In [1]:
#В рамках дополнительного проекта попробуем освоить API, позволяющий получать данные о музейных коллекциях. 
#Это задание может пригодиться для большего понимания того, какими способами можно собирать и обрабатывать данные,
#например, для собственного проекта или другой рабочей задачи. Также вы можете более глубоко изучить документацию,
#чтобы потом исследовать другие интересные для себя вопросы по полученным данным :)

In [ ]:
#найти все произведения, связанные с подсолнухами. Выполните поиск по слову "sunflowers" и нужно взять 3 индекс со списка

In [2]:
#импортируем нужные модули
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#запрос к API. Пример обращения к поиску (Search)
#берем url и запрос, который нам нужно найти
url = 'https://collectionapi.metmuseum.org/public/collection/v1/search?q='
IDs = 'sunflowers'

#создаем запрос с ссылкой и с ключевым словом
r = requests.get(url+IDs)
res = r.json()

In [4]:
#присваиваем в список словарь с индексом objectIDs
sunflower_ids = []
sunflower_ids = res['objectIDs']

In [5]:
sunflower_ids[3]

210191

In [6]:
#Выполните запрос для объекта 437980

In [7]:
url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/'
obj = '437980'

In [8]:
r2 = requests.get(url+obj)
obj_test = r2.json()

In [ ]:
#Теперь напишите цикл, с помощью которого будет собрана информация об объектах
#Сколько объектов относятся к японской культуре? (culture –Japan)

In [9]:
columns = ['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']

In [26]:
#создаем пустой датафрейм
df = pd.DataFrame()

In [27]:
#делаем цикл, который перебирает данные по индексу
for i in sunflower_ids:
    rr = requests.get(url+str(i))
    objj = rr.json()
    df = df.append(objj, ignore_index=True)

In [35]:
#находим сколько строк содержат культуру Japan
df[df.culture=='Japan']

,GalleryNumber,accessionNumber,accessionYear,additionalImages,artistAlphaSort,artistBeginDate,artistDisplayBio,artistDisplayName,artistEndDate,artistGender,...,region,reign,repository,rightsAndReproduction,river,state,subregion,tags,title,message
28,,"14.40.827a, b",1914,[],,,,,,,...,,,"Metropolitan Museum of Art, New York, NY",,,,,"[{'term': 'Sunflowers', 'AAT_URL': 'http://voc...",Incense box,NaN

In [63]:
#Выполните поисковый запрос для департамента "Asian art" (departmentId = 6) с тегом "cat" и запишите id объектов 
#в cat_ids. Используйте цикл из шага 4, чтобы получить данные о первой 1000 объектов из списка.

#Note: выполнение цикла может занять некоторое время (~5 минут), поэтому проверять его работоспособность лучше 
#на более маленькой выборке

#В качестве ответа укажите, в каком периоде (period) было выполнено наибольшее количество работ, представленных 
#в музее?

In [39]:
#считываем индексы по ссылке
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

In [57]:
#берем именно нужный лист со словаря 
cat_ids = cats['objectIDs']

In [59]:
#перед тем как брать 1000 элементов, возьмем тестово 50
test_cat_ids = cat_ids[:50]

In [60]:
df_cat = pd.DataFrame()

In [61]:
#делаем цикл, который перебирает данные по индексу
for i in test_cat_ids:
    rr = requests.get(url+str(i))
    objj = rr.json()
    df_cat = df_cat.append(objj, ignore_index=True)

In [67]:
#в этой маленькой выборе узнаем какой период был больше в количестве. Это Edo period (1615–1868)
df_cat.groupby('period',as_index=False)\
    .agg({'accessionYear':'count'})

                                         period  accessionYear
0                                                            9
1                       Central Javanese period              1
2   Edo (1615–1868) or Meiji period (1868–1912)              6
3                        Edo period (1615–1868)             12
4                       Khmer Empire (802–1431)              1
5                      Meiji period (1868–1912)              6
6                          Mon-Dvaravati period              1
7                  Muromachi period (1392–1573)              1
8                      Qing dynasty (1644–1911)              8
9              Song dynasty (960–1279) or later              1
10                            pre-Angkor period              4

In [68]:
df_cat_main = pd.DataFrame()

In [69]:
#теперь берем 1000 индексов
#делаем цикл, который перебирает данные по индексу
for i in cat_ids:
    rr = requests.get(url+str(i))
    objj = rr.json()
    df_cat_main = df_cat_main.append(objj, ignore_index=True)

In [72]:
#давайте узнаем какой период самый популярный. Это Edo period (1615–1868)
df_cat_main.groupby('period',as_index=False)\
    .agg({'accessionYear':'count'})\
    .sort_values('accessionYear', ascending=False)

                                                period  accessionYear
32                              Edo period (1615–1868)           1270
0                                                                 490
85                            Ming dynasty (1368–1644)            210
144                           Qing dynasty (1644–1911)            163
118                       Muromachi period (1392–1573)             99
..                                                 ...            ...
103  Ming dynasty(1368–1644), Xuande mark and perio...              1
104                               Momoyama (1573–1615)              1
106       Momoyama (1573–1615)– Edo (1615–1868) period              1
107        Momoyama (1573–1615)–Edo (1615–1868) period              1
229                style of the Tang dynasty (618–907)              1

[230 rows x 2 columns]