In [27]:
#импортируем модуль пандас
import pandas as pd

In [28]:
#считываем датасет из файла на сервере
bookings = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-mahatyrov/shared/homeworks/python_ds_miniprojects/2/bookings.csv', encoding='windows-1251' , sep=';')

In [29]:
#смотрим на 7 первых значений таблицы
bookings[:7]

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [30]:
#смотрим на размерность таблицы
bookings.shape

(119390, 21)

In [31]:
#смотрим на какие типы данных у столбцов(Series)
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [32]:
#смотрим на столбцы
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [33]:
#изменяем вместо пробелов у столбцов на знак "_" и делаем все колонки с нижним регистром
bookings.columns = bookings.columns.str.replace(' ', '_')
bookings.columns = bookings.columns.str.lower()

In [34]:
#смотрим на уникальные значения в столбце reservation_status
bookings.reservation_status.unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [35]:
#Задача: Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.
(bookings
     .query("is_canceled != 0")
     .groupby('country', as_index=False)
     .agg({'hotel':'count'})
     .sort_values(by='hotel', ascending=False))

    country  hotel
97      PRT  27519
41      GBR   2453
33      ESP   2177
38      FRA   1934
60      ITA   1333
..      ...    ...
117     UMI      1
108     SYC      1
76      MCO      1
24      CRI      1
37      FJI      1

[127 rows x 2 columns]

In [36]:
#Задача: сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? 
#Запишите полученные значения в пропуски с точностью до 2 знаков после точки.
day_in_resort_hotel = (bookings.query("hotel=='Resort Hotel'")
               .groupby('hotel', as_index=False)
               .agg({'stays_total_nights':'mean'}))

In [37]:
#сколько дней в city hotel
day_in_city_hotel = (bookings.query("hotel=='City Hotel'")
               .groupby('hotel', as_index=False)
               .agg({'stays_total_nights':'mean'}))

In [38]:
#округляем значение до сотых
round(day_in_resort_hotel, 2)

          hotel  stays_total_nights
0  Resort Hotel                4.32

In [39]:
#округляем значение до сотых
round(day_in_city_hotel, 2)

        hotel  stays_total_nights
0  City Hotel                2.98

In [40]:
#Задача: Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
bookings.query('reserved_room_type != assigned_room_type').count()

hotel                        14917
is_canceled                  14917
lead_time                    14917
arrival_full_date            14917
arrival_date_year            14917
arrival_date_month           14917
arrival_date_week_number     14917
arrival_date_day_of_month    14917
stays_in_weekend_nights      14917
stays_in_week_nights         14917
stays_total_nights           14917
adults                       14917
children                     14917
babies                       14917
meal                         14917
country                      14699
reserved_room_type           14917
assigned_room_type           14917
customer_type                14917
reservation_status           14917
reservation_status_date      14917
dtype: int64

In [21]:
#узнать самые популярные месяцы в 2016
popular_month_of_year_2016 = (bookings.query("arrival_date_year == '2016'")
                         .groupby('arrival_date_month', as_index = False)
                         .agg({'arrival_date_year':'count'})
                         .sort_values(by=['arrival_date_year'], ascending = False))

In [22]:
#узнать самые популярные месяцы в 2017
popular_month_of_year_2017 = (bookings.query("arrival_date_year == '2017'")
                         .groupby('arrival_date_month', as_index = False)
                         .agg({'arrival_date_year':'count'})
                         .sort_values(by=['arrival_date_year'], ascending = False))

In [13]:
#узнаем для самопроверки сколько всего было отмененных отелей
cancelled_hotel = bookings.is_canceled.sum()

In [14]:
cancelled_hotel

44224

In [41]:
#Задача. Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
cancelled_month = (bookings
                   .query("hotel == 'City Hotel'")
                   .groupby(['arrival_date_year', 'arrival_date_month'], as_index= False)
                   .agg({'is_canceled': 'sum'})
                   .sort_values('is_canceled', ascending=False)
                  )

In [42]:
cancelled_month

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2217
16               2016            October         1947
18               2017              April         1926
23               2017               June         1808
12               2016               June         1720
17               2016          September         1567
5                2015          September         1543
6                2016              April         1539
14               2016                May         1436
15               2016           November         1360
22               2017               July         1324
4                2015            October         1321
24               2017              March         1278
7                2016             August         1247
0                2015             August         1232
19               2017             August         1123
13               2016              March         1108
8                2016           December         1072
21               2017            January         1044
11               2016               July         1043
20               2017           February          971
2                2015               July          939
9                2016           February          930
1                2015           December          668
10               2016            January          438
3                2015           November          301

In [53]:
#Задача. Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?
#находим среднее значение столбца adults и берем среднее значение
round(bookings.adults.mean(),2)

1.86

In [52]:
#находим среднее значение столбца children и берем среднее значение
round(bookings.children.mean(),2)

0.1

In [51]:
#находим среднее значение столбца babies и берем среднее значение
round(bookings.babies.mean(),2)

0.01

In [72]:
#Задача. Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
#City hotel – отель находится в городе
#Resort hotel – отель курортный

#Обьединяем столбцы children и babies и добавляем в дата фрэйм
bookings['all_kids'] = bookings.children + bookings.babies

In [70]:
#создаем переменную и узнаем среднее значение по типу отеля
total_kids_mean_from_hotel = (bookings
            .groupby('hotel', as_index=False)
            .agg({'all_kids': 'mean'})
            .round(2)
)

In [71]:
#узнаем ответ
total_kids_children

          hotel  all_kids
0    City Hotel      0.10
1  Resort Hotel      0.14

In [ ]:
#Задача: Создайте колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы 
#одного ребенка (total_kids), в противном случае – False. 
#Далее проверьте, среди какой группы пользователей показатель оттока выше. В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [90]:
#создаю колонку, где если есть хотя бы один ребенок возвращает True, если нет, то False
bookings['has_kids'] = bookings.all_kids > 0

In [100]:
#считаем кол-во пассажиров с детьми, которые отменили бронирование
count_of_users_with_kids_canceled = (bookings
     .query('has_kids == True and is_canceled == 1')
     .has_kids.count()

)
count_of_users_with_kids_canceled

3259

In [109]:
#создаю переменную сколько всего пассажиров с детьми 
count_of_users_with_kids = bookings.has_kids.sum()
count_of_users_with_kids

9332

In [108]:
#считаем кол-во пассажиров без детей, которые отменили бронирование
count_of_users_without_kids_canceled = (bookings
     .query('has_kids == False and is_canceled == 1')
     .has_kids.count()

)
count_of_users_without_kids_canceled

40965

In [134]:
#считаем кол-во пассажиров без детей
count_of_users_without_kids = bookings.query('has_kids == False').has_kids.count()
count_of_users_without_kids

110058

In [126]:
#считаем churn у двух групп, с детьми и без детей

#churn rate у пользователей с детьми
churn_rate_with_kids = round(count_of_users_with_kids_canceled / count_of_users_with_kids * 100 ,2)
churn_rate_with_kids

34.92

In [135]:
#churn rate у пользователей без детей
churn_rate_without_kids = round(count_of_users_without_kids_canceled / count_of_users_without_kids* 100 ,2)
churn_rate_without_kids

37.22